RemoteUrl = "https://dossified.com"
GowitnessHost = "http://127.0.0.1:7171"
LogLevel = "debug"

AmountNewsTrends = 4
AmountUpcomingEvents = 3
AmountDaysTrends = 7

UploadToYouTube = false
UploadToInstagram = false

InstagramUsername = "Username"
InstagramPassword = "Password"
