name: Go check & build
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21.x'

      - name: Install dependencies
        run: go get .

      - name: Check formatting
        run: files=$(gofmt -l .) && [ -z "$files" ]

      - name: Build
        run: go build -v ./...

      - name: Test with the Go CLI
        run: go test

